@import "tailwindcss";

:root {
  color: #303944;
  background-color: #f5f3f7;
  scroll-behavior: smooth;
}

main{
  display: flex;
  min-height: 100vh;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  padding: 1em;
}

a, p {
  font-family: "Poppins", sans-serif;
}
.content {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
}

td {
  padding: 4px;
}